<!DOCTYPE HTML>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" >

  <title>NoStressCommunication</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <style type="text/css">
  p.infobox {
    height: 6.0em;
    overflow: scroll;
    border: red 1px dashed;
    background-color: #fff0f0;
  }
  </style>
</head>

<body>
  <div class="container">
    <p class="infobox" id="chatLogs">
    <br>

    <div id="ground">

      <script type="text/javascript">
        var myName = "<%- name%>";
      </script>

      <script type="text/javascript" src="tink.js"></script> 
      <script type="text/javascript" src="scaleToWindow.js"></script> 
      <script type="text/javascript" src="pixi.js"></script> 
      <script type="text/javascript" src="place.js"></script>

    </div>
  </div>

</body>
</html>
